.topicEntry {
   border: 1px solid black;
   border-radius: 5;
   padding-top: 0px;
   padding-left: 10px;
   width: 300px;
   height:300px;
   float:left;
}

.topicTitle {
  text-decoration: underline
}

.topicAdd {
  float:left;
  width:100%;
}